<div class="modal fade" id="changepassword" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header  font-green">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title caption-subject bold uppercase"><i class="icon-pin font-green"></i>修改密码</h4>
            </div> 
            @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @role = "form",@class= "changepassword-form" }))
            {
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="form-group form-md-line-input form-md-floating-label">
                            <input type="password" class="form-control required" id="oldpassword" name="oldpassword">
                            <label for="oldpassword">原始密码</label>
                            <span class="help-block">请输入原始密码</span>
                        </div>
                        <div class="form-group form-md-line-input form-md-floating-label">
                            <input type="password" class="form-control required" id="newpassword" name="newpassword">
                            <label for="newpassword">新密码</label>
                            <span class="help-block">请输入新密码</span>
                        </div>
                        <div class="form-group form-md-line-input form-md-floating-label">
                            <input type="password" class="form-control required" id="confirmpassword" name="confirmpassword">
                            <label for="confirmpassword">确认密码</label>
                            <span class="help-block">确认输入的新密码</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn green">保存</button>
                </div>
            }
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>