@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model GR.Services.ReturnResult
@*<div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a asp-action="Index" asp-controller="Home" asp-area="">首页</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>修改密码</span>
            </li>
        </ul>
    </div>
    <h3 class="page-title">
       Material Design Form Controls
        <small>material design form inputs, checkboxes and radios</small>
    </h3>*@
@Html.Partial("_PartialMessagePrompt", Model)
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption font-green">
            <i class="icon-pin font-green"></i>
            <span class="caption-subject bold uppercase"> @ViewData["Title"]</span>
        </div>
    </div>
    <div class="portlet-body form">
        <form asp-action="ChangePassword" asp-controller="Account" asp-area="" method="post" role="form" class="changepassword-form">
            @Html.AntiForgeryToken()
            <div class="form-body">
                <div class="form-group form-md-line-input form-md-floating-label">
                    <input type="password" class="form-control required" id="oldpassword" name="oldpassword">
                    <label for="oldpassword">原始密码</label>
                    <span class="help-block">请输入原始密码</span>
                </div>
                <div class="form-group form-md-line-input form-md-floating-label">
                    <input type="password" class="form-control required" id="newpassword" name="newpassword">
                    <label for="newpassword">新密码</label>
                    <span class="help-block">请输入新密码</span>
                </div>
                <div class="form-group form-md-line-input form-md-floating-label">
                    <input type="password" class="form-control required" id="confirmpassword" name="confirmpassword">
                    <label for="confirmpassword">确认密码</label>
                    <span class="help-block">确认输入的新密码</span>
                </div>
            </div>
            <div class="form-actions noborder">
                <button type="submit" class="btn blue">提交</button>
                <button type="button" class="btn default">取消</button>
            </div>
        </form>
    </div>
</div>
@section scripts{
    <environment names="Development">
        <script src="~/js/account/changepassword.js" type="text/javascript"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/account/changepassword.min.js" type="text/javascript"></script>
    </environment>
}
